@import url("global.css");

@media screen and (max-width: 33rem) {
  .hamburger {
    display: block;
    transition: 0.3s ease;
  }

  .hamburger,
  .close {
    cursor: pointer;
    transition: 0.3s ease;
    color: var(--secondaryColor);
  }

  .hamburger-menu {
    position: absolute;
    background-color: var(--secondaryColor);
    filter: drop-shadow(rgba(0, 0, 0, 0.15) 0.5px 1px 1px);
    height: 10rem;
    width: 100%;
    top: 40px;
    transition: 0.3s ease;
    z-index: 998;
    filter: none;
  }

  ul {
    position: absolute;
    top: 140%;
    left: 30px;
    line-height: 2;
    transition: 2s ease;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    z-index: 999;
  }

  li a:hover {
    color: var(--thirdColor);
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
  }

  .logo-wrapper h2 {
    font-weight: 700;
    font-size: 0.7rem;
    margin-left: -5px;
  }

  .logo-wrapper .dot {
    color: var(--secondaryColor);
  }

  .logo {
    height: 40px;
  }

  /*NAVIGATION*/

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    position: relative;
  }

  /* BEGINNING OF HERO SECTION */

  .hero-content {
    max-width: 450px;
    gap: 1rem;
  }

  .welcome-text,
  .hero-special {
    color: var(--secondaryColor);
    font-weight: 700;
  }

  .welcome-text {
    font-size: 0.9rem;
  }

  .hero-title {
    font-weight: 700;
    font-size: clamp(1.8rem, 8vw, 2.5rem);
  }

  .hero-text {
    line-height: 1.3;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
  }

  .hero-special {
    background-color: rgb(0, 98, 120, 0.2);
    padding: 0.2rem 0.5rem;
    border: 2px solid var(--secondaryColor);
  }

  .hero-buttons {
    width: 100%;
    max-width: 240px;
  }

  .stroke-btn {
    color: black;
  }

  .dark-cyan-btn,
  .stroke-btn,
  .personal-btn,
  .dark-crimson-btn {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  .hero-image {
    margin: auto;
    max-width: 350px;
    position: relative;
  }

  .hero-arta {
    position: relative;
  }

  .english-box {
    height: 60px;
    width: 250px;
    top: 60%;
    left: 0%;
  }

  .english-flag {
    width: 60px;
    height: 60px;
  }

  .english-text {
    font-size: 0.8rem;
  }

  /* BEGINNING OF "PROVIDED FEATURES" SECTION */

  .features-section {
    flex-direction: column;
  }

  .features-wrapper {
    flex-direction: column;
    max-width: 240px;
  }

  .feature-card,
  .feature-price-card {
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
  }

  .feature-card img {
    width: 100px;
  }

  /* BEGINNING OF "PROVIDED FEATURES" SECTION */

  .bitmoji-floating,
  .bitmoji-yes,
  .hero-arta-about {
    max-width: 220px;
  }

  .bitmoji-yes {
    position: relative;
    right: 40px;
  }

  .square-teal {
    top: 40px;
    left: -20px;
  }

  .square-cyan {
    bottom: -50px;
    left: -10px;
  }

  .square-teal,
  .square-cyan,
  .square-crimson,
  .square-teal-second {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 0;
  }

  /*Square Second Row */

  .square-teal-second {
    top: 21px;
    right: -30px;
    position: absolute;
  }

  .square-crimson {
    background-color: var(--thirdColor);
    bottom: -10px;
    right: -10px;
    position: absolute;
  }

  .services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 320px;
  }

  .services-section h2,
  .me-h2,
  .contact-text h2,
  .questions-h2 {
    font-weight: 700;
    text-align: center;
  }

  .first-row,
  .second-row,
  .aboutme-section p {
    max-width: 270px;
  }

  .first-row,
  .second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    line-height: 1.5;
    gap: 2rem;
    padding: 2rem 0rem;
  }

  .bitmoji-floating-text,
  .bitmoji-yes-text {
    text-align: left;
    max-width: 300px;
  }

  .bitmoji-floating-text h2,
  .bitmoji-yes-text h2 {
    text-align: left;
    font-size: clamp(1.7rem, 4vw, 1.9rem);
  }

  /* BEGINNING OF "GET TO KNOW ME" SECTION */

  .footer-bg {
    position: relative;
  }

  .aboutme-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: left;
    padding: 1rem 0rem;
    line-height: 1.5;
    color: black;
    max-width: 320px;
  }

  .aboutme-section h2 {
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 1rem;
    text-align: center;
  }

  /* BEGINNING OF "PRICE CARD" SECTION */

  .feature-price-card h2 {
    font-size: 1.3rem;
  }

  .feature-price-card h2,
  h3 {
    font-weight: 700;
  }

  .doller-sign {
    font-size: 1.25rem;
  }

  .feature-price-card h3 {
    font-size: 2.5rem;
    color: var(--secondaryColor);
  }

  .hero-arta-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  /* BEGINNING OF "DO YOU HAVE ANY QUESTIONS" SECTION */

  .questions-h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .footer-bg {
    padding: 2rem 0rem;
    color: white;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-text h2 {
    font-size: 1.2rem;
  }

  .line,
  .line-bottom {
    display: block;
    margin: 1rem 0rem;
    height: 3px;
    width: 100%;
    max-width: 320px;
    margin: auto;
    background-color: var(--thirdColor);
  }

  .contact-margin {
    margin-bottom: 1rem;
  }

  .contact-text p {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    text-align: center;
    max-width: 320px;
  }

  label {
    display: none;
  }

  .contact-form,
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input {
    font-size: 0.8rem;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
  }

  textarea {
    font-size: 0.8rem;
    padding: 4rem 2.5rem;
    border-radius: 10px;
    border: none;
  }
}
